.vs/GeneCounter/v15/Browse.VC.opendb
.vs/
Debug/GeneCounter.exe
GeneCounter/img/temp/
GeneCounter/img/contadas/
x64/Release/GeneCounter.exe
GeneCounterSetUp/Release/setup.exe
GeneCounterSetUp/Release/GeneCounterSetUp.msi
GeneCounterSetUp/Debug/setup.exe
GeneCounterSetUp/Debug/GeneCounterSetUp.msi
x64/Release/GeneCounter.exe.metagen
